<div class="row">
  <div class="col-lg-3"></div>
  <div class="list-group col-sm-12 col-lg-6">
    <app-player-list></app-player-list>
    <div class="list-group-item list-group-item-danger font-weight-bold" [hidden]="!errorMessage">
      {{ errorMessage }}
    </div>
  </div>
  <div class="col-lg-3"></div>
  <div class="col-lg-3"></div>
  <div class="list-group col-sm-12 col-lg-6 mt-3">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-5 pr-1">
        <div class="input-group">
          <input type="text" class="form-control btn-primary-outline" placeholder="Johnny" name="name" [(ngModel)]="newPlayer.name"
          />
        </div>
      </div>
      <div class="col-3 pl-0">
        <div class="input-group">
          <button class="btn btn-primary" (click)="addPlayer()">ADD</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>